.p-videos {

  .p-videos__search-options-section,
  .p-videos__search-results-section {
    margin-top: 2rem;
  }

  .p-videos__search-options {
    width: 26rem;
  }

  .p-videos__search-option--button {
    line-height: 2.5rem;
  }


  .p-videos__search-results-card {
    margin: 1em auto;
  }
}
