@import 'colors';

/**
 * Application-wide base variables
 *
 * 📝 Possible TODO: Break out things that get too large (see: "colors" above)
 */
$theme-color__primary-1--100: hsla(261, 53%, 76%, 1.00);
$theme-color__primary-1--300: hsla(261, 43%, 55%, 1.00);
$theme-color__primary-1--500: hsla(261, 43%, 45%, 1.00);
$theme-color__primary-1--700: hsla(261, 43%, 38%, 1.00);
$theme-color__primary-1--900: hsla(261, 43%, 27%, 1.00);

$theme-color__accent-1--100: hsla(178, 89%, 86%, 1.00);
$theme-color__accent-1--300: hsla(180, 94%, 79%, 1.00);
$theme-color__accent-1--500: hsla(181, 81%, 70%, 1.00);
$theme-color__accent-1--700: hsla(181, 58%, 62%, 1.00);
$theme-color__accent-1--900: hsla(181, 37%, 51%, 1.00);

$theme-color__nearWhite: hsla(0, 0%, 92%, 1.00);

$color__box-shadow: hsla(0, 0%, 0%, 0.43);

/**
 * -----------------------------------------
 * ANIMATION
 * -----------------------------------------
 */
$duration__fade-toggle: 0.25s;
$duration__shift-element: 0.2s;
$duration__slide-element: 0.42s;


$easing__ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easing__ease-in-sine: cubic-bezier(0.550, 0.085, 0.680, 0.530);

$easing__ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easing__ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easing__ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easing__ease-out-cubic--bounce-25: cubic-bezier(0.27, 0.78, 0.75, 2.15);
$easing__accelerating-exit: cubic-bezier(0.34, 0, 0, 1);
$easing__decelerating-entrance: $easing__ease-out-cubic;


/**
 * -----------------------------------------
 * DIMENSIONS
 * -----------------------------------------
 */
$height__navbar: 4rem;
$width__flash-message: 23rem;
$width__sidenav: 16.25rem;
$min-width__navbar: $width__sidenav * 1.5;

$dimension__tap-target--sm: 2rem;
$dimension__tap-target--md: 3rem;
$dimension__tap-target--lg: 5rem;

/*
 * 180:130 padding ratio to align content aspect ratio with human FOV
 */
$padding__content-box--horizontal: 1.05em;
$padding__content-box--horizontal-lg: 2.10em;
$padding__content-box--vertical: 0.75em;
$padding__content-box--vertical-lg: 1.5em;

/**
 * -----------------------------------------
 * OTHER GARNISHES
 * -----------------------------------------
 */
 $box-shadow__card: 2px 4px 14px 1px hsla(0, 0%, 40%, 1);
