<h1>Ember Data Twitch</h1>

<nav>
  <ul>
    <li>{{#link-to 'videos'}}Videos{{/link-to}}</li>
    {{!-- <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li> --}}
  </ul>
</nav>
