<h2 class="homepage__heading u-align-center">Resources</h2>

<nav>
  <ul>
    <li>{{#link-to 'videos'}}Videos{{/link-to}}</li>
    {{!-- <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li>
    <li>{{#link-to}}{{/link-to}}</li> --}}
  </ul>
</nav>
